<div class="container text-center">
  <br><br>
<h2><%= @tool.name %>, <%= @tool.quantity %></h2>
  <br>
<%= link_to "Szerkesztés", edit_office_tool_path(@tool), :class => 'btn btn-default' %>
</div>